@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&family=Open+Sans:wght@400;600;700;800&display=swap');

* {
  font-family: 'Open Sans';
  font-size: 1.02em;
}

/* menu */

.menu-item{
  display: flex;
  justify-content: space-between;
}

/* sider */
.sider {
  min-height: 100vh;
  position: fixed;
}

/* circle Icons */

.circle-icon {
  font-size: 3em;
  margin-left: 11.5px;
  margin-top: 10px;
  padding-right: 2%;
}

/* container */
.container-fluid {
  margin: 24px auto;
  max-width: 1200px;
  padding: 24px;
  min-height: 100vh;
}


/* background */
bg-gray {
  background: #f0f2f5
}

/* ant menu */
.header {
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
}

.header .ant-menu {
  border: 0;
  background: none !important;

}

.header .ant-menu li.ant-menu-item {
  position: relative;
  color: #333;
}


/* .header .ant-menu li.ant-menu-item:before,
  .header .ant-menu li.ant-menu-item:after {
    content: '';
    background: #1890ff;
    width: 1px;
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 30%;
    opacity: 0;
    transition: all 0.3s linear;
  }
  
  .header .ant-menu li.ant-menu-item:after {
    left: auto;
    right: 30%;
  }
  
  .header .ant-menu li.ant-menu-item,
  .header .ant-menu li.ant-menu-item-selected {
    border: 0 !important;
  } */

.header .ant-menu li.ant-menu-item-selected,
.header .ant-menu li.ant-menu-item:hover {
  color: #1890ff;
  background: none;
}

/*
  
  .header .ant-menu li.ant-menu-item-selected:before,
  .header .ant-menu li.ant-menu-item:hover:before {
    left: 5%;
    opacity: 1;
  }
  
  .header .ant-menu li.ant-menu-item-selected:after,
  .header .ant-menu li.ant-menu-item:hover:after {
    right: 5%;
    opacity: 1;
  }
 .trigger {
     padding: 0 24px;
     font-size: 18px;
     line-height: 64px;
     cursor: pointer;
     transition: color 0.3s;
     opacity: 0.5;
 } */



.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}