@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&family=Open+Sans:wght@400;600;700;800&display=swap');

* {
  font-family: 'Open Sans';
  font-size: 1.02em;
}

/* menu */

.menu-item{
  display: flex;
  justify-content: space-between;
}



.header .ant-menu li.ant-menu-item {
  position: relative;
  color: #333;
  list-style: none;
}
.header .ant-menu li.ant-menu-item,
.header .ant-menu li.ant-menu-item-selected {
  border: 0 !important;
}

.header .ant-menu li.ant-menu-item-selected,
.header .ant-menu li.ant-menu-item:hover {
  color: #1890ff;
  background: none;
}

/* sider */
.sider {
  min-height: 100vh;
  position: fixed;
}

/* Menu */
.menu-item a{
  width: 100%;
}

/* circle Icons */

.circle-icon {
  font-size: 3em;
  margin-left: 11.5px;
  margin-top: 10px;
  padding-right: 2%;
}

/* container */
.container-fluid {
  margin: 24px auto;
  max-width: 1200px;
  padding: 24px;
  min-height: 100vh;
}

.container{
  max-width: 70%;
  margin: auto;
  height: 100%;
  
}


/* card */
.card-item{
  height: 160;
  margin-bottom: 3%;
}
.card-item a{
  color: #470137 !important;
  width: 400px;
}
.card-link{
  font-size: 1.2em;
  font-weight: bold;
}
.card-center{
  display: flex;
  justify-content: center;
  margin:5% auto;
}



/* common sections */
.section-heading{
 
  font-size: 1.8em;
  color: gray;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2%;
}

.d-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* hero section */
.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background:#470137;
  /* background-image:url('/images/background.jpg'); */
  background-size:cover;
  position: relative;
  
  margin-bottom: 4%;
  color:#fff;
}

.text-h1{
  font-size: 2em;
  font-weight:bold;
  color: #fff;
}
.text-h2{
  font-size: 1.3em;
  font-weight:bold;
  color: #000;
}

.text-df{
  font-size: 1em;
  font-weight:300;
  color:#f1f1f1;
}
.text-bold{
  ont-size: 1em;
  font-weight:bold;
}


.hero-text{
  margin: auto;
  text-align:center;
}
.hero-text-a{
  text-align:left;
}
.hero-text-a h1{
  font-size: 2.3em;
  font-weight: bold;
  color:#fff;
}
.hero-text h1{
  font-size: 4em;
  font-weight: bold;
  color:#fff;
}
.hero-text h2{
  font-size: 2.5em;
  font-weight: bold;
  color:#fff;

}
.hero-text p{
  font-size: 1.5em;
}

.hero-search{
  height: 100px;
  width: 70%;
  margin: 0 auto;
  margin-bottom: -3%;
  /* box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.75); */
}

.hero-employer-section{
  height: 100%;
  padding: 3% 0;
  display: flex;
  justify-content: space-between;
}

.hero-post-section{
  height: 390px;
  background: #470137;
  margin-top: -18px !important;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  color:#fff;
}

.featured-jobs-section{
  padding: 5% 0;
  height: 100%;
  
}
.latest-jobs-section{
  background: #fff;
  padding: 5% 0;
  height: 100%;
}

.jobs-by{
  height: 100%;
  padding: 5% 0;
  background: #0e0f11;
  color: #fff;
}

.job-alert-section{
  height: 100%;
  padding: 5% 0;
  display: flex;
  justify-content: space-around;
}

.page-footer{
  height: 100%;
  padding: 3% 0;
  display : flex;
  justify-content: space-between;
  font-size: 1em;
}
.page-footer h2{
  font-size: 1em;
  color: #fff;
  font-weight:bold;
  margin-bottom: 0;
}
.page-footer li, a{
  list-style:none;
  display: flex;
  padding: 3% 1%;
  width: 200px;
  color: #6f6c66 !important;
}
.page-footer a:hover{
  color:#f1ecf9 !important;
}






/* background */
.bg-gray {
  background: #f0f2f5
}

/* ant menu */
.header {
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
  z-index: 1;
}

.header .ant-menu {
  border: 0;
  background: none !important;

}

.header .ant-menu li.ant-menu-item {
  position: relative;
  color: #333;
}


/* .header .ant-menu li.ant-menu-item:before,
  .header .ant-menu li.ant-menu-item:after {
    content: '';
    background: #1890ff;
    width: 1px;
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 30%;
    opacity: 0;
    transition: all 0.3s linear;
  }
  
  .header .ant-menu li.ant-menu-item:after {
    left: auto;
    right: 30%;
  }
  
  .header .ant-menu li.ant-menu-item,
  .header .ant-menu li.ant-menu-item-selected {
    border: 0 !important;
  } */

.header .ant-menu li.ant-menu-item-selected,
.header .ant-menu li.ant-menu-item:hover {
  color: #1890ff;
  background: none;
}

/*
  
  .header .ant-menu li.ant-menu-item-selected:before,
  .header .ant-menu li.ant-menu-item:hover:before {
    left: 5%;
    opacity: 1;
  }
  
  .header .ant-menu li.ant-menu-item-selected:after,
  .header .ant-menu li.ant-menu-item:hover:after {
    right: 5%;
    opacity: 1;
  }
 .trigger {
     padding: 0 24px;
     font-size: 18px;
     line-height: 64px;
     cursor: pointer;
     transition: color 0.3s;
     opacity: 0.5;
 } */



.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}
.site-layout{
  background: #f1f1f1;
}


/* checkbox */
.ant-checkbox-wrapper{
  margin-left:0px !important;
  padding: 2% !important;
}

/* button */
.btn-center{
  display: flex;
  justify-content: center;
}


/* a href */
.a-link a{
  font-weight: bold;
}
.a-link a:hover{
  color: #470137 !important;
}


/* text - icon */
.text-icon-center {
  align-items: center;
  display:flex;
  color: #a0a0a0;
  gap: 3px;
}